/*头部*/
.header{position:fixed; left:0; top:0; width:100%; height:.56rem; line-height:.56rem; background-color:#38b8ec; z-index:999;}
.header h1{text-align:center; font-size:.23rem; color:#fff; line-height:.56rem;}
.header h1 p{margin-top:-2px; line-height:.15rem; position:relative; top:6px}
.header .header-left{position:absolute; left:10px; top:0;}
.header .header-right{position:absolute; right:10px; top:0;}
.header i{color:#fff;}
.header a{color:#fff; font-size:.16rem;}

.headerShare{position:absolute; right:.12rem; top:0; color:#fff; font-size:.15rem;}
.headerShare a{margin-left:.20rem;}
.headerShare i{font-size:.20rem; margin-right:.05rem;}

/*中部*/
.main{padding:.56rem .12rem .61rem;}
.userIndex h2{font-size:.24rem; line-height:.24rem; color:#000; padding-top:.42rem;}
.userIndex-img{margin-top:.40rem; position:relative;}
.userIndex-img a{padding:0 .18rem; text-align:center; display:block;}
.userIndex-img p{color:#808080; font-size:.16rem; line-height:.24rem; margin-top:5px;}
.userIndex-img-tips{position:absolute; left:42%; top:-50px; line-height:.20rem; padding:.06rem .06rem; font-size:.18rem; color:#fff; background-color:#3d3d3d; text-align:center; z-index:1001;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.userIndex-img-tips i{position:absolute; left:50%; bottom:-10px; margin-left:-10px; width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-top:10px solid #3d3d3d;}
.userIndex-img-tips a{color:#fff;}
.userIndex-img-tips i.top{top:-10px; bottom:auto;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

.userIndex-num{border-top:1px solid #e9e9e9; border-bottom:1px dashed #e9e9e9; text-align:center; padding:.30rem 0;}
.userIndex-num strong{font-size:.38rem; font-family:'Arial'; font-weight:normal; line-height:.38rem;}
.userIndex-num p{font-size:.15rem; color:#aeaeae; margin-top:.30rem;}

.userIndex-list{padding:.1rem 0;}
.userIndex-list dl{position:relative; line-height:.24rem; margin-top:.17rem;}
.userIndex-list dt{position:absolute; left:0; top:0; font-size:.18rem; color:#000; line-height:.24rem;}
.userIndex-list dd{padding-left:.82rem; line-height:.24rem;}
.userIndex-list dd span{border:1px solid #f1e1d2; background-color:#fffbfb; height:.22rem; line-height:.22rem; color:#b28964; font-size:.16rem; display:inline-block; padding:0 .06rem;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
}
.userIndex-list dd p{color:#aeaeae; font-size:.16rem; line-height:.24rem;}

/*导航*/
.nav{position:fixed; left:0; bottom:0; width:100%; border-top:1px solid #ddd;  background-color:#f8f8f8; text-align:center; z-index:999;}
.nav a{display:block;}
.nav .focus{color:#23ace4;}
.nav .focus .icon-icon35:before{content: '\e823';}
.nav .focus .icon-icon01:before{content: '\e801';}
.nav .focus .icon-icon07:before{content: '\e807';}
.nav .focus .icon-icon05:before{content: '\e805';}
.nav i{font-size:.25rem; margin-top:6px;}
.nav p{font-size:.16rem; margin-top:5px; position:relative;}
.nav p span{background-color:#ff0000; width:.08rem; height:.08rem; display:block; position:absolute; right:.30rem; top:-.35rem;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}

/*图片展示模块*/
.picture{padding:0rem 0 .70rem;}
.picture-img{text-align:center; margin-top:0.1rem; position:relative;}
.picture-img img{width:310px;}
.picture-img-tips{text-align:center; position:relative;}
.picture-img-tips .icon-icon03{font-size:.50rem; color:#698537;}
.picture-img-tips p{color:#aeaeae; font-size:.15rem; margin-top:5px;}
.picture-img-tips .userIndex-img-tips{top:-60px; left:36%;}

/*搜索*/
.search{background-color:#f2f2f2; padding:.10rem .13rem; position:relative;}
.search input{width:100%; height:.20rem; padding:.07rem 0; text-align:center; outline:none; background-color:#fff;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.search label{position:absolute; left:50%; top:.19rem; margin-left:-38px; color:#aeaeae; font-size:.18rem;}
.search label i{font-size:.19rem; margin-right:8px;}

/*列表*/
.list{padding:.56rem 0 .70rem;white-space: nowrap;}
.list li{border-bottom:1px solid #e9e9e9; height:.55rem; line-height:.55rem; position:relative; padding:0 .14rem;}
.list li input{display:none;}
/*.list li input[type="checkbox"]:checked+label:before, .list li a:focus .icon-icon30:before, .list li a:active .icon-icon30:before{color:#db7e33; content: '\e812';}*/
.list li .icon-icon30, .list li .icon-icon19{display:inline-block; vertical-align:middle; margin-top:-.11rem; font-size:.24rem;}
.list li .icon-icon19{color:#23ace4;}
.list li a{display:inline-block;}
.list .checkboxLabel{font-size:.23rem; color:#000; margin-left:.15rem;}
.list li .circle{right:.13rem; top:.05rem;}
.list li.focus .icon-icon30:before, .list li.focus input[type="checkbox"]:checked+label:before, .list li.focus a:focus .icon-icon30:before, .list li.focus a:active .icon-icon30:before{color:#d3d3d3; content: '\e812';}
.circle {width: .44rem; height: .44rem; position: absolute; border-radius: 50%; background: #8baf4b; z-index:1;}
.pie-left, .pie-right{width:.44rem; height:.44rem; position: absolute; top: 0; left: 0;}
.circle-left, .circle-right {width:.44rem; height:.44rem; background:#eaeaea; border-radius: 50%; position: absolute; top: 0; left: 0;}
.pie-right, .circle-right {clip:rect(0,auto,auto,22px);}
.pie-left, .circle-left {clip:rect(0,22px,auto,0);}
.mask {width: .33rem; height: .33rem; border-radius: 50%; left: .06rem; top: .06rem; background: #fff; position: absolute; text-align: center; line-height: .33rem; font-size: 12px; font-weight: bold; color: #eaeaea;}
.mask  .icon-icon22, .circleNo .icon-icon22{color:#35afe0; font-size:.25rem;}
.circleNo{position:absolute; right:.23rem; top:0; z-index:1;}
.circleNo2{position:absolute;  right:0;top:0; z-index:1;}
.list-con{margin-top:.20rem;}
.list-con li{border-bottom:1px dashed #e9e9e9; height:auto; line-height:.50rem; font-size:.20rem; color:#666;}
.list-con-span{color:#000; margin-right:.14rem;}
.list-con-bottom{text-align:right; color:#aeaeae; font-size:.15rem; line-height:.24rem; margin-top:.10rem;}
.list-con-tips a{border:1px solid #38b8ec; color:#38b8ec; font-size:.20rem; display:inline-block; line-height:.32rem; position:relative; padding:0 .45rem 0 .10rem;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
	white-space: nowrap;
}
.list-con-tips a i{width:.25rem; height:.25rem; background-color:#30b4e9; color:#fff; font-size:12px; text-align:center; line-height:.25rem; position:absolute; right:.03rem; top:.03rem;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}

.list-con-info{margin-top:.30rem;}
.list-con-info a{border:1px solid #d5e5b9; font-size:.18rem; color:#9d9d9d; display:inline-block; text-align:center; line-height:.20rem; padding:.10rem 0; margin:0 .08rem; display:block;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.list-con-info a:nth-child(1), .list-con-info a:nth-child(2){color:#8db24b;}

/*弹出框*/
.window-bg{position:fixed; left:0; top:0; width:100%; height:100%; background:#000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.5; z-index:1002;}
.window{position:fixed; left:50%; top:30%; width:86%; margin-left:-46%; background-color:#fff; z-index:1003;  overflow:hidden;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.window-content{padding:.2rem;}
.window h2{font-size:.20rem; font-weight:bold;  text-align:center; line-height:.30rem; margin-bottom:.10rem;}
.window p{font-size:.18rem; line-height:.22rem;}
.window-btn{text-align:right;}
.window-btn a{ display:block;height:.46rem; text-align:center; line-height:.46rem; font-size:.18rem;
border-top:1px solid #eee; color:#4A90E2;
}
/*.window-btn a i{font-size:.30rem; color:#43a7cf;}*/

.window-share{text-align:center; font-size:.15rem;}
.window-share a{width:.74rem; height:.74rem; display:inline-block; text-align:center; line-height:.74rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.window-share a i{font-size:.50rem; color:#fff;}
.window-share p{margin-top:.05rem;}
.window-shareB{margin-top:.28rem;}
.window-shareA div:nth-child(1) a{background-color:#03a200;}
.window-shareA div:nth-child(2) a{background-color:#f1765a;}
.window-shareA div:nth-child(3) a{background-color:#5594da;}
.window-shareB div:nth-child(1) a{background-color:#30cc2c;}
.window-shareB div:nth-child(2) a{background-color:#3278cb;}
.window-shareB div:nth-child(3) a{background-color:#868686;}
.window-share-bottom{text-align:center; margin-top:.13rem;}
.window-share-bottom a{width:.51rem; height:.52rem; text-align:center; line-height:.52rem; font-size:.24rem; color:#565656; border:1px solid #929292; display:inline-block;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}

.window-close{position:absolute; right:-.1rem; top:-.1rem; background-color:#565454; color:#d2d2d2; font-size:.26rem; width:.44rem; height:.39rem; text-align:center; line-height:.46rem;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}

.spread-con{margin-top:.55rem; padding:0 .36rem;}
.spread-con strong{color:#00ccff; font-size:.36rem; display:block; text-align:center; line-height:.28rem;}
.spread-con em{color:#999; text-align:center; font-size:.15rem; display:block; text-align:center; line-height:.20rem; margin-top:.26rem;}
.spread-con p{margin-top:.20rem; font-size:.15rem; color:#000; line-height:.23rem; text-align:center;}
.spread-con p span{font-size:.20rem; color:#a83341;}
.spread-con a{height:.48rem; line-height:.48rem; display:block; text-align:center; font-size:.18rem; color:#fff; background-color:#a83341; margin-top:.35rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

/*底部弹出内容*/
.bottomCon{position:fixed; left:0; bottom:.60rem; width:100%; z-index:1;}
.bottomCon-top{text-align:right; margin-right:.20rem;}
.bottomCon-top span{border:1px solid #38b8ec; display:inline-block; padding:0 .25rem; height:.23rem; line-height:.23rem; font-size:.18rem; color:#4abeed; background-color:#eefaff;
	-moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius:10px 10px 0 0;
}
.bottomCon-con{border-top:1px solid #38b8ec; background-color:#eefaff; padding:0 .13rem;}
.bottomCon-con li{border-bottom:1px dashed #38b8ec; height:.70rem; line-height:.70rem; overflow:hidden;}
.bottomCon-con li span{color:#909090; font-size:.48rem; font-family:'Arial'; font-style:italic; margin-right:.15rem; vertical-align:top;}
.bottomCon-con li p{line-height:22px; font-size:.22rem; color:#; margin-top:.10rem;}
.bottomCon-con li:first-child span, .bottomCon-con li:first-child p{color:#4abeed;}

/*语音*/
.voice-doctors{position:relative;}
.voice-doctors img{position:absolute; left:0; top:0; width:.47rem; height:.47rem;
	-moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius:100%;
}
.voice-doctors span{margin-left:.57rem;}
.voice-doctors span, .voice-me span{vertical-align:middle; font-size:.18rem; line-height:.24rem; padding:.05rem .07rem; display:inline-block;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.voice-doctors span{background-color:#6ad2fc; color:#ffffff;}
.voice-me span{background-color:#82cfee; color:#ffffff; text-align:left;}
.voice-me{text-align:right;}
.voice-list .voice-doctors, .voice-list .voice-me{margin-top:.25rem;}
.voice-list-bottom{margin:.60rem 0 1.00rem; text-align:center;}
.voice-list-bottom a{border:1px solid #38b8ec; height:.36rem; line-height:.36rem; padding:0 .09rem; display:inline-block; color:#36b9ee;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.voice-list-bottom i{font-size:12px;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.voice-list-bottom-btn{position:fixed; left:0; bottom:.71rem; width:100%; height:.58rem; line-height:.58rem; text-align:center;}
.voice-list-bottom-btn a{background-color:#31b4ea; color:#ffffff; font-size:.22rem; display:inline-block; padding:0 .40rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}

/*更多*/
.grayBody{background-color:#eeeff3;}
.content{padding:.56rem 0 .61rem;}
.more-list{margin-top:.20rem;}
.more-list li{border-bottom:1px solid #e9e9e9; height:.57rem; line-height:.57rem; font-size:.19rem; color:#000; position:relative; padding-left:.12rem; background-color:#fff;}
.more-list li i{color:#fd6600; margin-right:.10rem; font-size:.24rem;}
.more-list li i.icon-icon04{position:absolute; color:#999; top:0; right:.12rem; font-size:.19rem;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.more-list li p{line-height:.20rem; position:relative; top:-.20rem;}
.more-list li a{display:block;}
.more-list-bottom li i{color:#00a9f9;}
.more-listOther{margin-top:0;}

.disease-content{}
.disease-content li{border-bottom:1px solid #e9e9e9; padding:0 .12rem;}
.disease-content-top{display:block;}
.disease-content-top-box{border-bottom:1px dashed #e9e9e9; padding:.12rem 0;}
.disease-content-top img{width:.72rem; height:.72rem;}
.disease-content-con{margin-left:.11rem;}
.disease-content-con strong{display:block; color:#999; font-size:.15rem; font-weight:normal;}
.disease-content-con strong span{color:#31a5d4;}
.disease-content-con h2{font-size:.20rem; color:#000; line-height:.20rem; margin-top:.14rem;}
.disease-content-con p{margin-top:.10rem; font-size:.15rem; color:#999;}
.disease-content-con p span{color:#4cc84f;}
.disease-content-p{line-height:.24rem; color:#999; font-size:.18rem; padding:.12rem 0;}

.disease-list{background-color:#fff;}
.disease-list li{border-bottom:1px solid #f0f0f0; padding:.12rem .13rem;}
.disease-list li a{display:block;}
.disease-list li img{width:.91rem; height:.91rem; display:block;}
.disease-list-con{margin-left:.18rem;}
.disease-list-con h3{font-size:.20rem; color:#000; line-height:.24rem; margin-top:.05rem;}
.disease-list-con p{font-size:.15rem; color:#999; line-height:.20rem; margin-top:.08rem;}

.user-list{padding:0 .20rem;}
.user-list dl{border-bottom:1px dashed #e9e9e9; padding:.10rem 0;}
.user-list dt{width:1.00rem; color:#000; line-height:.25rem; font-size:.19rem;}
.user-list dd{color:#666; line-height:.25rem; font-size:.19rem;}
.user-list dl:last-child{border-bottom:none;}

.user-content{margin-top:.20rem; border-top:1px solid #e9e9e9;}
.user-content dl{border-bottom:1px solid #e9e9e9; padding:0 .12rem; line-height:.57rem; height:.57rem; background-color:#fff;}
.user-content-a dl:first-child img{width:.42rem; height:.42rem; margin-top:0.07rem;}
.user-content-a dl:nth-child(3) img{width:.27rem; height:.27rem; margin-top:.15rem;}
.user-content-a dl:nth-child(5){margin-top:.20rem; border-top:1px solid #e9e9e9;}
.user-content-b dl:last-child{margin-top:.20rem; border-top:1px solid #e9e9e9;}
.user-content dt{line-height:.57rem; height:.57rem; color:#000; font-size:.19rem;}
.user-content dt a{display:block;}
.user-content dd{text-align:right; line-height:.57rem; height:.57rem; color:#666; font-size:.19rem;}

/*白皮书*/
.contentText{color:#000; position:relative;}

.contentText dl dt,.contentText h2 {text-align:center; font-size:.23rem; line-height:.29rem; font-weight:normal; margin:.35rem 0 .20rem 0;}
.contentText h3{font-size:.23rem; line-height:.23rem; font-weight:normal; margin:.40rem 0 .20rem 0;}
.contentText dl dd,.contentText p{text-indent: 17pt;font-size:.20rem; line-height:.39rem;}
.contentText-span{position:relative; top:-50px; height:1px; display:block;}

/*首页*/
.indexBg{background:url(../images/indexBg.png) no-repeat; background-size:cover; height:100%; position:relative;}
.index-fotter{position:absolute; left:0; bottom:.35rem; width:100%; color:#c58a8f; line-height:.23rem; text-align:center;}
.index-btn-one, .index-btn-two{position:absolute; left:0; text-align:center; width:100%;}
.index-btn-one{bottom:2.00rem;}
.index-btn-two{bottom:1.40rem;}
.index-btn-one a, .index-btn-two a{width:1.45rem; height:.43rem; line-height:.43rem; text-align:center; display:inline-block; color:#fff; font-size:.23rem;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
}
.index-btn-one a{border:1px solid #b84a4a; color:#fdb2ba;}
.index-btn-two a{background-color:#b84a4a;}

/*支付*/
.pay{border-bottom:1px solid #d6d6d6; height:.84rem; line-height:.84rem; text-align:center;}
.pay a{border:1px solid #e1e1e1; display:inline-block; height:.47rem; line-height:.47rem; width:1.59rem;}
.pay a img{height:.47rem; width:1.59rem;}

/*登录*/
.loginBg{background-color:#eeeff3;}
.login li{padding:0 .35rem; margin-top:.24rem; position:relative;}
.login-input{background-color:#fff; border:1px solid #e4e4e5; position:relative; padding-left:.12rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.login-input input{height:.22rem; line-height:.22rem; padding:.12rem 0; outline:none; font-size:.18rem; vertical-align:middle;}
.login-input input::-webkit-input-placeholder {
    color:    #d9d8d8;
}
.login .error-con{display:none;}
.login .error .login-input{border:1px solid #c8c8c8;}
.login .error .login-input input{color:#909090;}
.login .error .error-con{position:absolute; left:.35rem; bottom:-.18rem; color:#ff0000; display:block;}
.login-input i{font-size:.22rem; color:#999;; margin:.11rem .08rem 0 0;}
.login-title{font-size:.18rem; line-height:.30rem; margin-bottom:.04rem; display:block;}
.login-bottom{padding:0 .35rem; margin-top:.22rem;}
.login-bottom a{height:.48rem; line-height:.48rem; background-color:#698537; color:#fff; text-align:center; display:block; font-size:.20rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.login-bottom-btn{padding:0 .35rem; margin-top:.20rem;}
.login-bottom-btn a{display:block; line-height:.22rem;}
.login-bottom-btn a:first-child{text-align:left; color:#0385ff; font-size:.15rem;}
.login-bottom-btn a:last-child{text-align:right; color:#698537; font-size:.20rem;}

.login-verification{border:1px solid #c8c8c8; background-color:#f1f1f1; color:#698537; width:1.48rem; height:.47rem; line-height:.47rem; text-align:center; font-size:.18rem; display:block; margin-left:.05rem;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.login-ok{text-align:center; padding-top:1.00rem;}
.login-ok .icon-icon19{color:#54d76a;}
.login-ok h2{font-size:.23rem;}
.login-ok h2 i{margin-right:.12rem;}
.login-ok p{margin-top:.35rem;}
.login-ok p a{border:1px solid #9ab667; background-color:#f2ffdc; color:#698537; width:1.09rem; height:.47rem; line-height:.47rem; text-align:center; font-size:.18rem; display:inline-block;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.login-footer{font-size:.15rem; color:#999; line-height:.23rem; text-align:center; margin-top:.40rem;}
.login-footer a{color:#0385ff;}

.register{padding:0 .35rem; }
.register h2{font-size:.18rem; margin-top:.30rem;}
.register input[type="radio"]{display:none;}
.register input[type="radio"]:checked+label:before{content: '\e812'; color:#db7e33;}
.register ul{margin-top:.10rem;}
.register li{padding:.20rem 0;}
.register li:first-child{border-bottom:1px solid #dedee0;}
.register li label{font-size:.20rem; color:#666; margin-right:.10rem; vertical-align:middle;}

/*健康财富*/
.wealth-top{border-bottom:1px solid #f2f2f2; background-color:#fff; height:1.25rem; padding:0 .12rem;}
.wealth-top p{font-size:.18rem; color:#666; line-height:.20rem; padding-top:.20rem;}
.wealth-top strong{font-size:.56rem; color:#fd6600; display:block; line-height:.50rem; margin-top:.15rem; font-weight:normal;}
.wealth-top-num{height:.45rem; line-height:.45rem; padding:0 .12rem; font-size:.18rem; border-bottom:1px solid #f2f2f2; background-color:#fff;}
.wealth-title{height:.35rem; line-height:.35rem; padding:0 .12rem; font-size:.15rem; color:#999; border-bottom:1px solid #f2f2f2;}

.wealth-list li{padding:0 .12rem; border-bottom:1px solid #f2f2f2; background-color:#fff; height:.47rem; line-height:.47rem; font-size:.18rem;}
.wealth-list li span{display:block;}
.wealth-list li span:nth-child(1){}
.wealth-list li span:nth-child(2){width:2.20rem;}
.wealth-list li span:nth-child(3){text-align:right; color:#999; font-size:.15rem;}
.wealth-footer{position:fixed; left:0; bottom:0; width:100%; height:.61rem; line-height:.61rem; border-top:1px solid #ddd; text-align:center; background-color:#fff; font-size:.23rem;}
.wealth-footer a{display:block;}
.wealth-footer a:nth-child(1){color:#4c8cc8;}
.wealth-footer a:nth-child(2){border-left:1px solid #ddd; color:#4cc84f;}

.wealth-tab{height:.46rem; line-height:.46rem; text-align:center; border-bottom:1px solid #e9e9e9; font-size:.15rem; color:#010101; background-color:#fff;}
.wealth-tab a{border-bottom:2px solid #fff; display:block;}
.wealth-tab a.focus{color:#12a9e6; border-bottom:2px solid #12a9e6; position:relative; top:1px;}
.wealth-title-center{text-align:center;}
.wealth-ranking{background-color:#fff;}
.wealth-ranking li{border-bottom:1px solid #e9e9e9; padding:.09rem .12rem; font-size:.15rem;}
.wealth-ranking li span{display:block;}
.wealth-ranking img{width:.48rem; height:.48rem; vertical-align:middle;}
.wealth-ranking li span:nth-child(1){color:#666;}
.wealth-ranking li span:nth-child(1) img{margin-right:.10rem;}
.wealth-ranking li span:nth-child(2){color:#000; line-height:.48rem; width:1.25rem;}
.wealth-ranking li span:nth-child(3){text-align:right; color:#4cc84f; line-height:.48rem; width:.20rem;}

.new-con{padding:0 .12rem;}
.new-con h2{font-size:.23rem; line-height:.23rem; color:#000; font-weight:normal; display:block; margin-top:.20rem;}
.new-con .new-con-time{font-size:.15rem; color:#999; display:block; margin-top:.10rem;}
.new-con p{font-size:.18rem; line-height:.23rem; margin-top:.20rem;}

.release{position:fixed; left:0; bottom:0; width:100%; border-top:1px solid #ddd; padding:.09rem 0; background-color:#f8f8f8;}
.release-con{padding:0 .12rem;}
.release .input{border:1px solid #e4c9c9; background-color:#fff; height:.20rem; line-height:.20rem; padding:.10rem; vertical-align:middle; color:#d3d3d3; font-size:.18rem; outline:none; display:block;}
.release a{border:1px solid #e4c9c9; background-color:#fff; width:75px; height:.40rem; line-height:.40rem; text-align:center; margin-left:.05rem; vertical-align:middle; font-size:.18rem; color:#f05a5a; display:block;}


/*动画*/
.userIndex-img-tips{
	-webkit-animation: bounce-down 1.3s linear infinite;
    animation: bounce-down 1.3s linear infinite;
}
.userIndex-img-tipsNo{
	-webkit-animation: bounce-down 0s linear infinite;
    animation: bounce-down 0s linear infinite;
}
@-webkit-keyframes bounce-down {
   25% {
		-webkit-transform: translateY(5px);
	}
	50%, 100% {
		-webkit-transform: translateY(0);
	}
	75% {
		-webkit-transform: translateY(-5px);
	}
}

@keyframes bounce-down {
    25% {
		transform: translateY(5px);
	}
	50%, 100% {
		transform: translateY(0);
	}
	75% {
		transform: translateY(-5px);
	}
}

@media (min-width:375px) and (max-width:600px) {
	.userIndex-img-tips{top:-60px;}
	.picture-img-tips{margin-top:50px;}
}

.guaHao{font-size:0.14rem; border-radius:5px;  padding:0.3em 1em;border:1px solid #eee; color:#38b8ec; }